body{
    min-height: calc(100vh - 120px);
}

header, footer, .navegacion-lateral{
    background-color: #7fbefd;
}

main{
    min-height: calc(100vh - 140px);
    display: flex;
    flex-direction: column;

}

.navegacion-lateral{
    min-height: calc(100vh - 140px);
}